In [5]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [6]:
csv_file = "JODI Data.csv"
jodi_df = pd.read_csv(csv_file, skiprows=4)
jodi_df

,Time,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,...,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02
0,Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,Algeria,1269.0000,1217.0000,1204.0000,1204.0000,1204.0000,1217.0000,1216.0000,1197.0000,1188.0000,...,1040.0000,1054.0000,1064.0000,1062.0000,1072.0000,1070.0000,1068.0000,1063.0000,1033.0000,0.0000
3,Angola,1600.0000,1446.0000,1599.0000,1605.0000,1645.0000,1714.0000,1709.0000,1703.0000,1751.0000,...,1486.0000,1448.0000,1455.0000,1481.0000,1489.0000,1457.0000,1417.0000,1445.0000,1470.0000,1423.0000
4,Argentina,534.2857,531.1935,511.3000,501.0645,532.3333,522.0645,525.4194,528.8667,535.2258,...,481.7742,481.7000,480.4194,487.9677,495.3667,495.0323,492.6667,493.0968,493.0968,0.0000
5,Armenia,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
6,Australia,359.0491,341.3442,321.4452,313.6195,348.7798,335.7484,352.0271,336.1638,347.4487,...,238.3305,269.1413,274.4489,263.5116,280.9688,296.0690,300.1557,310.5673,302.6823,323.5666
7,Austria,17.3560,18.6299,17.6075,18.1755,16.6684,17.0395,16.5851,16.4337,16.5851,...,13.4044,13.3817,12.9500,12.7228,13.6165,13.1772,13.3817,12.2685,12.7228,13.5829
8,Azerbaijan,803.8564,807.8471,836.2493,827.3419,801.3647,827.5797,814.5039,796.9427,798.8129,...,737.0000,728.1560,718.4561,710.3729,715.6270,707.0445,723.9797,712.0371,710.8484,715.9429
9,Bahrain,49.4843,50.6390,48.6420,49.4503,48.8877,49.9258,50.4013,50.1160,48.4994,...,209.9261,206.6057,208.9752,206.1223,203.6577,205.8845,201.4467,195.4239,190.4313,204.5175
10,Bangladesh,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
11,Barbados,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
12,Belarus,33.3693,33.4625,33.1065,33.2252,33.8422,32.9878,33.2252,32.6160,33.2252,...,33.9371,34.3327,33.2252,33.2252,34.3327,34.4118,33.5970,32.9878,33.4625,0.0000
13,Belgium,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
14,Belize,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
15,Bermuda,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
16,Bolivia,65.3214,62.1935,63.4333,65.2258,64.8333,65.1935,63.5806,63.4000,62.5161,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
17,Brazil,2096.2500,2124.2258,2152.7667,2195.0968,2251.5000,2272.2581,2332.2258,2364.4333,2398.0000,...,2615.8710,2598.9000,2583.3226,2525.4516,2489.4667,2618.0323,2571.4333,2694.6452,2634.9677,2493.7500
18,Brunei Darussalam,131.1991,130.8475,119.4599,108.7963,123.2505,108.4692,90.6801,107.2889,109.1866,...,84.7638,102.5859,94.4152,94.6867,92.8239,102.9708,103.1830,112.4507,113.6741,116.8405
19,Bulgaria,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
20,Canada,2686.0893,2831.2361,2787.2760,2768.4690,2739.4093,2761.7523,2782.1342,2735.1013,2887.5181,...,3660.4103,3562.9553,3746.5703,3867.0090,3711.1027,3782.0071,3719.2400,3815.5910,3554.7948,3947.4614
21,Chile,6.7404,6.7645,6.2910,6.7645,5.8250,6.0881,6.3135,6.5240,5.4116,...,2.7058,3.0290,2.9313,2.9313,2.7960,2.7058,2.7960,2.7058,2.9313,3.2454
22,China,4212.6600,4164.8439,4142.8760,4192.7071,4270.4880,4094.9497,4129.4245,4186.7960,4235.2103,...,3771.6890,3866.4240,3743.8258,3777.3561,3702.9440,3799.0800,3790.2960,3856.6955,0.0000,0.0000
23,Chinese Taipei,0.1725,0.2352,0.1505,0.1023,0.1205,0.1252,0.1473,0.1572,0.1704,...,0.0631,0.0843,0.0682,0.0688,0.0730,0.0712,0.0876,0.1157,0.0735,0.0800
24,Colombia,1003.9643,979.0323,938.3667,951.9355,1011.1333,971.0000,1001.9355,995.7667,1004.3548,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
25,Costa Rica,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
26,Croatia,10.5971,11.0074,10.8797,10.5288,10.6325,10.2895,10.5288,9.8907,11.0074,...,13.8788,13.8469,13.1610,14.3574,14.0942,13.8788,14.0942,13.8788,13.8788,13.7763
27,Cuba,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
28,Cyprus,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
29,Czech Republic,2.8796,2.8374,3.1763,3.3103,3.1763,3.0739,3.0739,3.1763,3.0739,...,2.6010,2.4433,2.3645,2.3645,2.1990,2.1281,1.9547,2.1281,1.8916,1.8325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Peru,70.4482,73.5046,67.3785,69.3688,72.0430,68.3385,68.5597,69.5876,71.5283,...,52.2009,41.5259,42.8787,44.1349,52.0277,0.0000,0.0000,0.0000,0.0000,0.0000
86,Philippines,10.3643,19.0194,20.6867,10.3871,11.2667,9.5806,11.1930,11.0380,0.4903,...,31.6903,9.9833,10.8387,12.1290,10.2333,10.4677,9.1667,10.5484,13.7097,0.0000
87,Poland,19.1104,20.5713,19.7910,20.8077,13.6827,19.6255,14.8965,20.5240,20.0984,...,20.5713,14.1713,21.5171,21.2806,17.5920,21.9900,21.2570,20.8077,20.5713,21.4664
88,Portugal,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
89,Qatar,734.0000,710.0000,701.0000,701.0000,729.0000,734.0000,734.0000,690.0000,680.0000,...,601.0000,622.0000,619.0000,612.0000,570.0000,609.0000,599.0000,615.0000,0.0000,0.0000
90,Romania,82.0189,82.0708,80.8038,80.8603,80.8038,79.1656,79.4077,80.0533,79.8919,...,71.6606,71.0473,69.4818,70.9344,70.5470,70.4502,70.5470,70.4502,70.4502,70.4934
91,Russian Federation,10061.9571,10037.3806,10053.2000,10084.8387,10126.7600,10037.3806,10061.1097,10151.2800,10084.8387,...,10345.8581,10472.0722,10654.3355,10654.3355,10739.7600,10749.2516,10728.7709,10726.4136,10673.6049,10669.4979
92,Saudi Arabia,9850.0000,9566.0000,9660.0000,9705.0000,9780.0000,10005.0000,9597.0000,9704.0000,9690.0000,...,10030.0000,10489.0000,10288.0000,10412.0000,10502.0000,10642.0000,11093.0000,10643.0000,10243.0000,10136.0000
93,Singapore,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
94,Slovakia,0.2618,0.2365,0.2443,0.2365,0.2443,0.2365,0.2365,0.2443,0.2365,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.2365,0.2443,0.0000,0.0000,0.2618
95,Slovenia,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
96,South Africa,5.1789,1.1006,2.5590,5.2281,2.8433,2.2013,2.2013,5.4023,2.4765,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
97,Spain,7.1743,6.7200,7.6880,7.6800,6.9440,6.7200,6.9600,3.7200,6.0000,...,1.9200,1.9840,1.9200,1.4400,1.7360,1.2000,1.7360,1.4400,0.9600,1.0629
98,Suriname,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
99,Sweden,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
100,Switzerland,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
101,Syria (Arab Rep.),0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
102,Tajikistan,0.2632,0.4755,0.4913,0.4755,0.2457,0.4755,0.4755,0.4913,0.2377,...,0.4755,0.4913,0.2377,0.4755,0.4913,0.2377,0.2457,0.2377,0.0000,0.0000
103,Thailand,233.2482,233.7176,227.7078,243.3393,239.7050,227.8374,232.3784,234.4424,226.1817,...,228.9737,225.0304,213.2932,213.2932,217.6417,236.0895,234.3040,223.2640,207.9183,0.0000
104,Trinidad/Tobago,81.6786,82.3226,80.1333,79.4516,81.5333,82.4194,82.1935,83.3333,86.0323,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
105,Tunisia,59.3229,58.7913,54.8553,49.3648,55.1117,54.5742,54.8223,50.4977,52.5897,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
106,Turkey,45.6950,45.8084,46.6323,48.5297,48.9757,47.1690,47.8494,50.6160,47.6226,...,54.8794,54.8340,56.9203,56.6935,56.4743,56.4668,57.6460,55.7865,54.4258,60.5082
107,Ukraine,42.9039,42.3181,42.5003,42.0803,41.7633,40.6539,39.7029,41.0263,40.1784,...,32.3329,32.6737,33.0461,32.8084,32.4280,33.0461,32.9193,32.8084,33.7594,0.0000
108,United Arab Emirates,3043.0000,3003.0000,2830.0000,3090.0000,3108.0000,3148.0000,3171.0000,3072.0000,2908.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
109,United Kingdom,913.1400,892.5677,803.8800,856.2310,739.3680,690.1548,465.3058,744.4080,790.1419,...,973.0452,935.9280,996.9445,924.2710,885.7800,1024.9897,1018.8360,1068.8865,1051.0839,1140.4800
110,United States of America,8135.8214,8274.4194,8572.7333,8612.3226,8717.5000,8782.3548,8885.6774,9040.8333,9220.5161,...,10463.9032,10672.3667,10935.9677,11325.0000,11470.4667,11558.9677,11926.0667,11961.0323,11870.7419,12025.0000
111,Uruguay,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
112,Venezuela,2677.0000,2677.0000,2691.0000,2690.0000,2676.0000,2696.0000,2664.0000,2644.0000,2675.0000,...,1533.0000,1531.0000,1469.0000,1448.0000,1434.0000,1433.0000,1464.0000,1511.0000,1489.0000,1432.0000
113,Vietnam,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
114,Yemen,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [7]:
jodi_df=jodi_df.dropna(axis=0)
jodi_df.head()

,Time,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,...,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02
1,Albania,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0
2,Algeria,1269.0000,1217.0000,1204.0,1204.0000,1204.0000,1217.0000,1216.0000,1197.0000,1188.0000,...,1040.0000,1054.0,1064.0000,1062.0000,1072.0000,1070.0000,1068.0000,1063.0000,1033.0000,0.0
3,Angola,1600.0000,1446.0000,1599.0,1605.0000,1645.0000,1714.0000,1709.0000,1703.0000,1751.0000,...,1486.0000,1448.0,1455.0000,1481.0000,1489.0000,1457.0000,1417.0000,1445.0000,1470.0000,1423.0
4,Argentina,534.2857,531.1935,511.3,501.0645,532.3333,522.0645,525.4194,528.8667,535.2258,...,481.7742,481.7,480.4194,487.9677,495.3667,495.0323,492.6667,493.0968,493.0968,0.0
5,Armenia,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0

In [8]:
jodi_df.reset_index(drop=True,inplace=True)

In [10]:
jodi_df.rename(columns=
              {"Time": "Country"},inplace=True)
jodi_df

,Country,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,...,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02
0,Albania,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,Algeria,1269.0000,1217.0000,1204.0000,1204.0000,1204.0000,1217.0000,1216.0000,1197.0000,1188.0000,...,1040.0000,1054.0000,1064.0000,1062.0000,1072.0000,1070.0000,1068.0000,1063.0000,1033.0000,0.0000
2,Angola,1600.0000,1446.0000,1599.0000,1605.0000,1645.0000,1714.0000,1709.0000,1703.0000,1751.0000,...,1486.0000,1448.0000,1455.0000,1481.0000,1489.0000,1457.0000,1417.0000,1445.0000,1470.0000,1423.0000
3,Argentina,534.2857,531.1935,511.3000,501.0645,532.3333,522.0645,525.4194,528.8667,535.2258,...,481.7742,481.7000,480.4194,487.9677,495.3667,495.0323,492.6667,493.0968,493.0968,0.0000
4,Armenia,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5,Australia,359.0491,341.3442,321.4452,313.6195,348.7798,335.7484,352.0271,336.1638,347.4487,...,238.3305,269.1413,274.4489,263.5116,280.9688,296.0690,300.1557,310.5673,302.6823,323.5666
6,Austria,17.3560,18.6299,17.6075,18.1755,16.6684,17.0395,16.5851,16.4337,16.5851,...,13.4044,13.3817,12.9500,12.7228,13.6165,13.1772,13.3817,12.2685,12.7228,13.5829
7,Azerbaijan,803.8564,807.8471,836.2493,827.3419,801.3647,827.5797,814.5039,796.9427,798.8129,...,737.0000,728.1560,718.4561,710.3729,715.6270,707.0445,723.9797,712.0371,710.8484,715.9429
8,Bahrain,49.4843,50.6390,48.6420,49.4503,48.8877,49.9258,50.4013,50.1160,48.4994,...,209.9261,206.6057,208.9752,206.1223,203.6577,205.8845,201.4467,195.4239,190.4313,204.5175
9,Bangladesh,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
10,Barbados,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
11,Belarus,33.3693,33.4625,33.1065,33.2252,33.8422,32.9878,33.2252,32.6160,33.2252,...,33.9371,34.3327,33.2252,33.2252,34.3327,34.4118,33.5970,32.9878,33.4625,0.0000
12,Belgium,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
13,Belize,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
14,Bermuda,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
15,Bolivia,65.3214,62.1935,63.4333,65.2258,64.8333,65.1935,63.5806,63.4000,62.5161,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
16,Brazil,2096.2500,2124.2258,2152.7667,2195.0968,2251.5000,2272.2581,2332.2258,2364.4333,2398.0000,...,2615.8710,2598.9000,2583.3226,2525.4516,2489.4667,2618.0323,2571.4333,2694.6452,2634.9677,2493.7500
17,Brunei Darussalam,131.1991,130.8475,119.4599,108.7963,123.2505,108.4692,90.6801,107.2889,109.1866,...,84.7638,102.5859,94.4152,94.6867,92.8239,102.9708,103.1830,112.4507,113.6741,116.8405
18,Bulgaria,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
19,Canada,2686.0893,2831.2361,2787.2760,2768.4690,2739.4093,2761.7523,2782.1342,2735.1013,2887.5181,...,3660.4103,3562.9553,3746.5703,3867.0090,3711.1027,3782.0071,3719.2400,3815.5910,3554.7948,3947.4614
20,Chile,6.7404,6.7645,6.2910,6.7645,5.8250,6.0881,6.3135,6.5240,5.4116,...,2.7058,3.0290,2.9313,2.9313,2.7960,2.7058,2.7960,2.7058,2.9313,3.2454
21,China,4212.6600,4164.8439,4142.8760,4192.7071,4270.4880,4094.9497,4129.4245,4186.7960,4235.2103,...,3771.6890,3866.4240,3743.8258,3777.3561,3702.9440,3799.0800,3790.2960,3856.6955,0.0000,0.0000
22,Chinese Taipei,0.1725,0.2352,0.1505,0.1023,0.1205,0.1252,0.1473,0.1572,0.1704,...,0.0631,0.0843,0.0682,0.0688,0.0730,0.0712,0.0876,0.1157,0.0735,0.0800
23,Colombia,1003.9643,979.0323,938.3667,951.9355,1011.1333,971.0000,1001.9355,995.7667,1004.3548,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
24,Costa Rica,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
25,Croatia,10.5971,11.0074,10.8797,10.5288,10.6325,10.2895,10.5288,9.8907,11.0074,...,13.8788,13.8469,13.1610,14.3574,14.0942,13.8788,14.0942,13.8788,13.8788,13.7763
26,Cuba,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
27,Cyprus,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
28,Czech Republic,2.8796,2.8374,3.1763,3.3103,3.1763,3.0739,3.0739,3.1763,3.0739,...,2.6010,2.4433,2.3645,2.3645,2.1990,2.1281,1.9547,2.1281,1.8916,1.8325
29,Denmark,168.3500,164.9484,162.5533,171.8710,108.7800,159.2194,174.0194,163.5400,174.7355,...,114.8194,106.0667,122.9355,68.9871,122.8400,121.5032,125.5533,125.3226,108.1355,116.5500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Peru,70.4482,73.5046,67.3785,69.3688,72.0430,68.3385,68.5597,69.5876,71.5283,...,52.2009,41.5259,42.8787,44.1349,52.0277,0.0000,0.0000,0.0000,0.0000,0.0000
85,Philippines,10.3643,19.0194,20.6867,10.3871,11.2667,9.5806,11.1930,11.0380,0.4903,...,31.6903,9.9833,10.8387,12.1290,10.2333,10.4677,9.1667,10.5484,13.7097,0.0000
86,Poland,19.1104,20.5713,19.7910,20.8077,13.6827,19.6255,14.8965,20.5240,20.0984,...,20.5713,14.1713,21.5171,21.2806,17.5920,21.9900,21.2570,20.8077,20.5713,21.4664
87,Portugal,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
88,Qatar,734.0000,710.0000,701.0000,701.0000,729.0000,734.0000,734.0000,690.0000,680.0000,...,601.0000,622.0000,619.0000,612.0000,570.0000,609.0000,599.0000,615.0000,0.0000,0.0000
89,Romania,82.0189,82.0708,80.8038,80.8603,80.8038,79.1656,79.4077,80.0533,79.8919,...,71.6606,71.0473,69.4818,70.9344,70.5470,70.4502,70.5470,70.4502,70.4502,70.4934
90,Russian Federation,10061.9571,10037.3806,10053.2000,10084.8387,10126.7600,10037.3806,10061.1097,10151.2800,10084.8387,...,10345.8581,10472.0722,10654.3355,10654.3355,10739.7600,10749.2516,10728.7709,10726.4136,10673.6049,10669.4979
91,Saudi Arabia,9850.0000,9566.0000,9660.0000,9705.0000,9780.0000,10005.0000,9597.0000,9704.0000,9690.0000,...,10030.0000,10489.0000,10288.0000,10412.0000,10502.0000,10642.0000,11093.0000,10643.0000,10243.0000,10136.0000
92,Singapore,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
93,Slovakia,0.2618,0.2365,0.2443,0.2365,0.2443,0.2365,0.2365,0.2443,0.2365,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.2365,0.2443,0.0000,0.0000,0.2618
94,Slovenia,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
95,South Africa,5.1789,1.1006,2.5590,5.2281,2.8433,2.2013,2.2013,5.4023,2.4765,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
96,Spain,7.1743,6.7200,7.6880,7.6800,6.9440,6.7200,6.9600,3.7200,6.0000,...,1.9200,1.9840,1.9200,1.4400,1.7360,1.2000,1.7360,1.4400,0.9600,1.0629
97,Suriname,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
98,Sweden,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
99,Switzerland,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
100,Syria (Arab Rep.),0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
101,Tajikistan,0.2632,0.4755,0.4913,0.4755,0.2457,0.4755,0.4755,0.4913,0.2377,...,0.4755,0.4913,0.2377,0.4755,0.4913,0.2377,0.2457,0.2377,0.0000,0.0000
102,Thailand,233.2482,233.7176,227.7078,243.3393,239.7050,227.8374,232.3784,234.4424,226.1817,...,228.9737,225.0304,213.2932,213.2932,217.6417,236.0895,234.3040,223.2640,207.9183,0.0000
103,Trinidad/Tobago,81.6786,82.3226,80.1333,79.4516,81.5333,82.4194,82.1935,83.3333,86.0323,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
104,Tunisia,59.3229,58.7913,54.8553,49.3648,55.1117,54.5742,54.8223,50.4977,52.5897,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
105,Turkey,45.6950,45.8084,46.6323,48.5297,48.9757,47.1690,47.8494,50.6160,47.6226,...,54.8794,54.8340,56.9203,56.6935,56.4743,56.4668,57.6460,55.7865,54.4258,60.5082
106,Ukraine,42.9039,42.3181,42.5003,42.0803,41.7633,40.6539,39.7029,41.0263,40.1784,...,32.3329,32.6737,33.0461,32.8084,32.4280,33.0461,32.9193,32.8084,33.7594,0.0000
107,United Arab Emirates,3043.0000,3003.0000,2830.0000,3090.0000,3108.0000,3148.0000,3171.0000,3072.0000,2908.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
108,United Kingdom,913.1400,892.5677,803.8800,856.2310,739.3680,690.1548,465.3058,744.4080,790.1419,...,973.0452,935.9280,996.9445,924.2710,885.7800,1024.9897,1018.8360,1068.8865,1051.0839,1140.4800
109,United States of America,8135.8214,8274.4194,8572.7333,8612.3226,8717.5000,8782.3548,8885.6774,9040.8333,9220.5161,...,10463.9032,10672.3667,10935.9677,11325.0000,11470.4667,11558.9677,11926.0667,11961.0323,11870.7419,12025.0000
110,Uruguay,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
111,Venezuela,2677.0000,2677.0000,2691.0000,2690.0000,2676.0000,2696.0000,2664.0000,2644.0000,2675.0000,...,1533.0000,1531.0000,1469.0000,1448.0000,1434.0000,1433.0000,1464.0000,1511.0000,1489.0000,1432.0000
112,Vietnam,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
113,Yemen,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

### Create new data with select columns

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Store JSON data into a DataFrame

                 address  id  latitude  longitude  us_state
0  043 Mockingbird Place   1   39.1682   -86.5186   Indiana
1       4 Prentice Point   2   41.0938   -85.0707   Indiana
2      46 Derek Junction   3   32.7673   -96.7776     Texas
3  11966 Old Shore Place   4   39.0350   -94.3567  Missouri
4     5 Evergreen Circle   5   40.7808   -73.9772  New York

### Clean DataFrame

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York

### Connect to local database

### Check for tables

['customer_location', 'customer_name']

### Use pandas to load csv converted DataFrame into database

### Use pandas to load json converted DataFrame into database

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Confirm data has been added by querying the customer_location table

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York